<div class="card animate__animated animate__fadeInRight">
    <div class="card-header">
        <strong>Categoría Informal: </strong>
        Pregunta 16
    </div>
    <div class="card-body">
        <h5 class="card-title">Cuando Xime habla de CRIPTONITA, a qué se refiere?</h5>

        <form [formGroup]="formGroup" novalidate="novalidate" (submit)="continue($event)">

            <div class="form-group mt-5">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion1" name="question" value="De un asado que se le pasó"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion1">De un asado que se le pasó</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion2" name="question"
                        value="Cuando le pone los puntos a alguien y la desgasta" class="custom-control-input">
                    <label class="custom-control-label" for="opcion2">Cuando le pone los puntos a alguien y la desgasta</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion3" name="question" value="Sus reuniones por Team"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion3">Sus reuniones por Team</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-5" [disabled]="formGroup?.invalid">
                Continuar
            </button>
        </form>
    </div>
</div>