<div class="card animate__animated animate__fadeInRight">
    <div class="card-header">
        <strong>Categoría Informal: </strong>
        Pregunta 19
    </div>
    <div class="card-body">
        <h5 class="card-title">Quién usa más el emoTi?</h5>

        <div class="card">
            <img src="assets/images/emoti.png" class="card-img-top" alt="foto">
        </div>

        <form [formGroup]="formGroup" novalidate="novalidate" (submit)="continue($event)">

            <div class="form-group mt-5">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion1" name="question" value="Ari"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion1">Ari</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion2" name="question"
                        value="Nacho" class="custom-control-input">
                    <label class="custom-control-label" for="opcion2">Nacho</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion3" name="question" value="Kelly"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion3">Kelly</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-5" [disabled]="formGroup?.invalid">
                Continuar
            </button>
        </form>
    </div>
</div>