<div class="card animate__animated animate__fadeInRight">
    <div class="card-header">
        <strong>Categoría Formal: </strong>
        Pregunta 6
    </div>
    <div class="card-body">
        <h5 class="card-title">Qué dejó de andar hasta el día de hoy?</h5>

        <form [formGroup]="formGroup" novalidate="novalidate" (submit)="continue($event)">

            <div class="form-group mt-5">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion1" name="question" value="El login de Credencial Virtual con Auth0"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion1">El login de Credencial Virtual con Auth0</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion2" name="question" value="Notificaciones GEO"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion2">Notificaciones GEO</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion3" name="question" value="El Acumulado de Club"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion3">El Acumulado de Club</label>
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary mt-5" [disabled]="formGroup?.invalid">
                Continuar
            </button>
        </form>
    </div>
</div>