<div class="card animate__animated animate__fadeInRight">
    <div class="card-header">
        <strong>Categoría Formal: </strong>
        Pregunta 7
    </div>
    <div class="card-body">
        <h5 class="card-title">Qué palabra resumiría adecuadamente cada retro o reunión?</h5>

        <form [formGroup]="formGroup" novalidate="novalidate" (submit)="continue($event)">

            <div class="form-group mt-5">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion1" name="question" value="La TIA"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion1">La TIA</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion2" name="question" value="Olístico"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion2">Olístico</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion3" name="question" value="Refinamiento"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion3">Refinamiento</label>
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary mt-5" [disabled]="formGroup?.invalid">
                Continuar
            </button>
        </form>
    </div>
</div>