<div class="card animate__animated animate__fadeInRight">
    <div class="card-header">
        <strong>Categoría Informal: </strong>
        Pregunta 20
    </div>
    <div class="card-body">
        <h5 class="card-title">A quién le gusta sacar los cuchillos cuando hay diferencias de opiniones en las reuniones?</h5>

        <form [formGroup]="formGroup" novalidate="novalidate" (submit)="continue($event)">

            <div class="form-group mt-5">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion1" name="question" value="Bernie"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion1">Bernie</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion2" name="question"
                        value="Lucas" class="custom-control-input">
                    <label class="custom-control-label" for="opcion2">Lucas</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion3" name="question" value="Rodo"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion3">Rodo</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-5" [disabled]="formGroup?.invalid">
                Continuar
            </button>
        </form>
    </div>
</div>