<div class="card animate__animated animate__fadeInRight">
    <div class="card-header">
        <strong>Categoría Informal: </strong>
        Pregunta 15
    </div>
    <div class="card-body">
        <h5 class="card-title">Qué tecnología es candidata que tome Rodo en un futuro (no tan lejano)?</h5>

        <form [formGroup]="formGroup" novalidate="novalidate" (submit)="continue($event)">

            <div class="form-group mt-5">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion1" name="question" value="IOS"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion1">IOS</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion2" name="question"
                        value="Web" class="custom-control-input">
                    <label class="custom-control-label" for="opcion2">Web</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion3" name="question" value="Diseño"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion3">Diseño</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-5" [disabled]="formGroup?.invalid">
                Continuar
            </button>
        </form>
    </div>
</div>