<div class="card text-start mt-5 animate__animated animate__fadeIn">
    <div class="card-header">
        Bienvenido!
    </div>
    <div class="card-body">
        <h5 class="card-title">Cuánto conociste de tu equipo de Club a lo largo de este año 2020 que ya está por
            terminar???</h5>
        <p class="card-text">Si querés llegar a la sorpresa que se encuentra al final del camino, deberás contestar
            preguntas muy llevaderas que se dividen en 2 categorías.</p>
        <p>Si no tenés ganas, no importa, te perderás el final :(</p>
        <hr>
        <ul>
            <li>
                <b>Categoría 1:</b> Club formal
            </li>
            <li>
                <b>Categoría 2:</b> Club informal
            </li>
        </ul>
        <a class="btn btn-primary" routerLink="question" role="button">Quieres comenzar! je</a>
    </div>