<div class="card animate__animated animate__fadeInRight">
    <div class="card-header">
        <strong>Categoría Informal: </strong>
        Pregunta 23
    </div>
    <div class="card-body">
        <h5 class="card-title">Quién necesita cambiar la conexión a Internet?</h5>

        <form [formGroup]="formGroup" novalidate="novalidate" (submit)="continue($event)">

            <div class="form-group mt-5">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion1" name="question" value="Lucas"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion1">Lucas</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion2" name="question"
                        value="Bernie" class="custom-control-input">
                    <label class="custom-control-label" for="opcion2">Bernie</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion3" name="question" value="Nacho"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion3">Nacho</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-5" [disabled]="formGroup?.invalid">
                Final
            </button>
        </form>
    </div>
</div>