<div class="card animate__animated animate__fadeInRight">
    <div class="card-header">
        <strong>Categoría Formal: </strong>
        Pregunta 5
    </div>
    <div class="card-body">
        <h5 class="card-title">Con qué tecnología se innovó?</h5>

        <form [formGroup]="formGroup" novalidate="novalidate" (submit)="continue($event)">

            <div class="form-group mt-5">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion1" name="question" value="React y Auth0"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion1">React y Auth0</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion2" name="question" value="IONIC y TypeScript"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion2">IONIC y TypeScript</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion3" name="question" value="IONIC React"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion3">IONIC React</label>
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary mt-5" [disabled]="formGroup?.invalid">
                Continuar
            </button>
        </form>
    </div>
</div>