<div class="card animate__animated animate__fadeInRight">
    <div class="card-header">
        <strong>Categoría Informal: </strong>
        Pregunta 17
    </div>
    <div class="card-body">
        <h5 class="card-title">Quién del equipo usa más metáforas para explicar algo?</h5>

        <form [formGroup]="formGroup" novalidate="novalidate" (submit)="continue($event)">

            <div class="form-group mt-5">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion1" name="question" value="Andrés Biss"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion1">Andrés Biss</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion2" name="question"
                        value="Melisa Williams" class="custom-control-input">
                    <label class="custom-control-label" for="opcion2">Melisa Williams</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="question" id="opcion3" name="question" value="Pablo Melicchio"
                        class="custom-control-input">
                    <label class="custom-control-label" for="opcion3">Pablo Melicchio</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-5" [disabled]="formGroup?.invalid">
                Continuar
            </button>
        </form>
    </div>
</div>